.my__title{
    color:brown;
    font-weight: bold;
    padding-block: 2%;
}
.my__table th{
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    color: green;
    font-family: initial;
}